@import "~@coreui/coreui/scss/coreui";
#app {
  height: 100vh;
  overflow-y: auto;
}
.schedule-activity {
.activity-list {
    background-color: #a0dcff80;
    border: 1px solid rgba(0, 100, 150, 0.15);
    padding: 0.2em 0.4em;
    cursor: grab;
    margin-bottom: 0.5em;
    max-height: 100vh;
  }
  .vh-80 {
    height: calc(100vh - 100px);
  }
  
  .vuecal__cell--selected{
    background-color: #a0d1ee80 !important
  }
  .vuecal__cell--today, .vuecal__cell--current{
    background-color: #aeaecf66;
  }
  .fix-height{
    height: calc(100vh - 100px);
  }
}