<template>
  <div class="schedule-activity container-md my-4">
    <h4>Schedule Activity</h4>
    <CRow>
      <CCol md="8">
        <div class="border border-light rounded fix-height">
          <vue-cal
            :selected-date="selectedDate"
            class="vuecal--primary-theme vuecal--full-height-delete"
            small
            hide-view-selector
            :time-step="30"
            :snap-to-time="30"
            active-view="week"
            :disable-views="['years', 'year', 'month', 'day']"
            editable-events
            @event-drop="onEventDrop"
            :events="userActivity"
            @event-title-change="updateEventTitle"
            @event-delete="deleteEvent"
          />
        </div>
      </CCol>
      <CCol md="4">
        <CRow>
          <CCol md="12" class="d-flex">
            <div class="border border-light rounded">
              <vue-cal
                selectedDate
                class="vuecal--primary-theme"
                small
                hide-view-selector
                :time="false"
                active-view="month"
                :disable-views="['years', 'year', 'week', 'day']"
                style="width: auto; min-height: 300px"
                @cell-click="setSelectedDate"
                :events="userActivity"
              >
              </vue-cal>
            </div>
          </CCol>
          <CCol md="12" class="mt-2 h-auto">
            <div class="border border-light rounded px-2">
              <h5 class="text-primary">Activity List</h5>
              <div
                class="activity-list"
                v-for="(item, i) in activities"
                :key="i.id"
                draggable="true"
                @dragstart="onEventDragStart($event, item)"
              >
                <strong>{{ item.title }}</strong>
                <span v-if="item.duration">
                  ({{ `${item.duration} min${item.duration > 1 ? "s" : ""}` }})
                </span>
              </div>
            </div>
          </CCol>
        </CRow>
      </CCol>
    </CRow>
  </div>
</template>

<script>
import VueCal from "vue-cal";
import "vue-cal/dist/vuecal.css";

//Importing static activity list
import activity from "@/data/activity.json";
import { computed, ref } from "vue";
import { useStore } from "vuex";
import m from "moment";

export default {
  name: "ScheduleActivity",
  components: { VueCal },
  setup() {
    const store = useStore();

    let userActivity = computed(function () {
      return store.getters.userActivity.map((v) => ({
        ...v,
        deletable: true,
        resizable: false,
        draggable: true,
      }));
    });

    let selectedDate = ref(m().format("yyyy-MM-DD HH:mm"));
    return {
      userActivity,
      store,
      selectedDate,
    };
  },
  data() {
    return {
      activities: activity,
    };
  },
  methods: {
    setSelectedDate(date) {
      this.selectedDate = m(date).format("yyyy-MM-DD");
    },
    updateEventTitle(data = {}) {
      const { event, oldTitle } = data;
      if (event && oldTitle) {
        const { title, index, start, end } = event;
        const startStr = this.convertDateStr(start);
        const endStr = this.convertDateStr(end);
        this.$store.dispatch("updateActivity", {
          payload: { title, start: startStr, end: endStr },
          index,
        });
      }
    },
    deleteEvent(data) {
      if (data) {
        const { index } = data;
        this.$store.dispatch("deleteActivity", index);
      }
    },
    onEventDragStart(e, draggable) {
      // Passing the event's data to Vue Cal through the DataTransfer object.
      e.dataTransfer.setData("event", JSON.stringify(draggable));
      e.dataTransfer.setData("cursor-grab-at", e.offsetY);
    },
    onEventDrop({ event, originalEvent, external }) {
      const { start, end } = event;
      const { title, index } = originalEvent;
      const startDateStr = this.convertDateStr(start);
      const endDateStr = this.convertDateStr(end);
      const payload = {
        start: startDateStr,
        end: endDateStr,
        title,
      };
      //external is true - while drag frmo activity list
      //external is false - while drag the existing event to change datetime
      if (external) {
        this.$store.dispatch("addNewActivity", payload);
      } else {
        this.$store.dispatch("updateActivity", {
          payload,
          index,
        });
      }
    },
    convertDateStr(date) {
      if (date) return m(date).format("yyyy-MM-DD HH:mm");
      return date;
    },
  },
};
</script>
