<template>
  <ScheduleActivity />
</template>

<script>
import ScheduleActivity from "./components/ScheduleActivity.vue";

export default {
  name: "App",
  components: {
    ScheduleActivity,
  },
};
</script>

<style lang="scss">
@import "assets/SCSS/style";
</style>
